<!-- Main Sidebar Container -->
<aside class="main-sidebar  sticky-top sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link text-center bg-info">

        <span class="brand-text font-weight-light">School</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            TABLEAU DE BORD
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('users_index') }}" class="nav-link text-white">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            UTILISATEURS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-display"></i>
                        <p>
                            ANNÉE SCOLAIRE
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-folder"></i>
                        <p>
                            INSCRIPTIONS
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('classroom_index') }}" class="nav-link text-white">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            CLASSES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('teacher_index') }}" class="nav-link text-white">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            ENSEIGNANTS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('family_index') }}" class="nav-link text-white">
                        <i class="nav-icon fas fa-people-roof"></i>
                        <p>
                            FAMILLES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('parent_index') }}" class="nav-link text-white">
                        <i class="nav-icon fas fa-people-roof"></i>
                        <p>
                            PARENTS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('student_index') }}" class="nav-link text-white">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                            ÉLEVES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            MATIÈRES
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-gear"></i>
                        <p>
                            CONFIGURER UN PAIEMENT
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-chart-simple"></i>
                        <p>
                            COMPTABILITÉ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="nav-icon fas fa-money-bill"></i>
                        <p>
                            VERSEMENTS
                        </p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <!---- COLLAPSE  --->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Starter Pages
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Active Page</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inactive Page</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
