{% extends 'base.html.twig' %}
{% block title_page %}
    <h2>Détails Famille</h2>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

        <!------ INFORMATIONS --------->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info m-0">
                        <h5>Informations</h5>
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-6">
                                Nom: {{ family.familyName }}
                            </div>
                            <div class="col-lg-6">
                                Email: {{ family.email }}
                            </div>
                            <div class="col-lg-12">
                                Adresse: {{ family.address }}
                            </div>
                            <div class="col-lg-6">
                                Ville: {{ family.city }}
                            </div>
                            <div class="col-lg-6">
                                Code Postal: {{ family.zipCode }}
                            </div>
                            <div class="col-lg-6">
                                Pays: {{ family.country }}
                            </div>
                            <div class="col-lg-6">
                                Téléphone: {{ family.phone }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-------- CHILDRENS -------->

            <div class="col-lg-12 mt-2">
            <div class="card">
                <div class="card-header bg-info m-0">
                    <h5>Enfants</h5>
                </div>
                <div class="card-body">
                    {% for student in family.students %}
                        <div class="row py-2">
                            <div class="col-lg-3">
                                Genre: {{ student.gender }}
                            </div>
                            <div class="col-lg-3">
                                Nom: {{ student.firstName }}
                            </div>
                            <div class="col-lg-3">
                                Prénom: {{ student.lastName }}
                            </div>
                            <div class="col-lg-3">
                                Date de naissance: {{ student.birthDate|date('d/m/Y') }}
                            </div>

                        </div>
                    {% endfor %}
                </div>
            <!--- END CHILDRENS ---->

        </div>
    </div>
{% endblock %}
