<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <!-- STYLES -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <link rel="stylesheet" href="{{ asset('/assets/css/adminlte.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">


        {% block stylesheets %}
        {% endblock %}

        <!--- JS ---->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="{{ asset('assets/js/adminlte.min.js') }}"></script>
        <script src="{{ asset('assets/js/script.js') }}"></script>

        {% block javascripts %}

        {% endblock %}
    </head>
    <body class="bg-light">
{{ include('layouts/partials/_navbar.html.twig')}}
{{ include('layouts/partials/_sidebar.html.twig')}}
<div class="content-wrapper">
    <div class="container-fluid">
        {% block body %}

        {% endblock %}
        </div>
</div>
    </body>
</html>
